/* ----- SHARE BUTTON ----- */

radio[pane=paneShare] {
  list-style-image: url("resource://ffshare-at-mozilla-dot-org-ffshare-data/skin/pinstripe/Options-share.png");
}

/* ----- SHARE PREFPANE ----- */

#BrowserPreferences[animated="true"] #share-prefs-browser {
  height: 25em;
}

#BrowserPreferences[animated="false"] #share-prefs-browser {
  -moz-box-flex: 1;
}
