panel[type="arrow"].link_send browser,
#share-browser {
  min-height: 124px;
  min-width: 426px;
  height: 124px;
  width: 426px;
  border-radius: 6px;
}
panel[type="arrow"].link_send .panel-arrowcontent,
#share-popup .panel-arrowcontent {
  padding: 2px;
}
#share-button {
  list-style-image: url("../pinstripe/share-button.png");
  width: auto;
  height: auto;
  padding: 1px;
}

#share-button[checked] {
  list-style-image: url("../pinstripe/share-button-active.png");
}

#share-button[status="start"] {
  list-style-image: url("../pinstripe/share-button-sharing.png");
}

#share-button[status="finished"] {
  list-style-image: url("../pinstripe/share-button-shared.png");
}
