#share-browser {
  min-height: 124px;
  min-width: 426px;
  height: 124px;
  width: 426px;
}

#share-button {
  list-style-image: url("resource://ffshare/chrome/skin/winstripe/share-button.png");
  width: auto;
  height: auto;
}

#share-button[checked] {
  list-style-image: url("resource://ffshare/chrome/skin/winstripe/share-button-active.png");
}

#share-button[status="start"] {
  list-style-image: url("resource://ffshare/chrome/skin/winstripe/share-button-sharing.png");
}

#share-button[status="finished"] {
  list-style-image: url("resource://ffshare/chrome/skin/winstripe/share-button-shared.png");
}

#share-popup .panel-inner-arrowcontent {
  padding: 0;
}
