<html>
<head>
<title>Activity Streams Example</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

<script id="activityItemTemplate" type="text/x-jquery-tmpl">
  <div>
    <div>
      <img src="${from.image}">
      <b><a href="${from.url}" target="_blank">${from.displayName}</a></b>
    </div>
    <div>${displayName}</div>
    <div>${content}</div>
    {{each attachments}}
      {{if $value.url}}
        <a href="${$value.url}" target="_blank">${$value.displayName || $value.url}</a>
      {{/if}}
    {{/each}}
  </div>
  <p>
</script>

<script id="visitTemplate" type="text/x-jquery-tmpl">
  <div>
    <div>
      {{if image}}
        <img src="${image}">
      {{/if}}
      <b><a href="${url}" target="_blank">${displayName || url}</a></b>
      ${updated}
    </div>
  </div>
  <p>
</script>


<script>

$(function() {
    hidem();
});

function hidem() {
  $("#output-container").hide();
  $("#visits-container").hide();
  $("#stream-container").hide();
}

function doit(args) {
  if (!navigator.mozApps || !navigator.mozApps.startActivity)
  {
    showResult("Can't invoke service: not supported by current browser");
    return;
  }
  hidem();
  navigator.mozApps.startActivity({
      action: "activityStream.fetch",
      type: "",
      message: "",
      data: args || {},
    },
  function(result) {
    showResult(result);
  }, 
  function() {
    alert("eek - we failed - sorry about that");
  });
}

function showResult(items)
{
    $("#stream").empty();
    for each (var item in items.activitystream) {
      // do some simple normalization of the items for our template.
      var tplitem = {
        from: item.actor || item.author,
        displayName: item.displayName,
        content: item.object.content,
        attachments: item.object.attachments
      };
      $("#activityItemTemplate").tmpl(tplitem).appendTo("#stream");
    }
    $("#stream-container").fadeIn();

    $("#visits").empty();
    for each (var item in items.visits) {
      $("#visitTemplate").tmpl(item).appendTo("#visits");
    }
    $("#visits-container").fadeIn();

    // and put the raw data there too.
    $("#output").text(JSON.stringify(items, undefined, 2))
    $("#output-container").fadeIn();
    $("#fetch").html("Re-fetch");
}
function init() {
}

</script>
<style>
#output {
  padding:6px;
  margin-top:32px;
  min-width:400px;
  max-width:640px;
  min-height:100px;
  width:640px;
  background-color:#f8f8f8;
  border-radius:1em;
  border:1px solid #909090;
  font:9pt "Lucida Granda", Tahoma, sans-serif;
}
</style>
</head>
<body onload="init()">
<div style="padding-top:16px">

<h2>Activity Streams demonstration</h2>
<p>
This page demonstrates the use of the <code>"activityStream.fetch"</code> service.
Click the <em>Fetch</em> button to grab the data - it will be rendered below 
and the raw JSON displayed at the end.
</p>


<div style="width:664px;margin:auto">
  <div style="vertical-align:top;display:inline-block;width:400px">
    <button id="fetch" style="font-size:18px" onclick="doit()">Fetch</button>
  </div>
</div>


<div id="visits-container" style="width:500px;float:left;">
    <b>Places you have visited</b>
    <div id="visits"></div> <!-- visitTemplate goes here -->
</div>

<div id="stream-container" style="background-color:#EEEEEE;width:500px;float:left;">
    <b>You and your friends</b>
    <div id="stream" ></div> <!-- activityItemTemplate goes here -->
</div>

<p>
<div id="output-container" style="clear:both">
    <b>Raw Data:</b>
    <pre>
        <div id="output"></div>
    </pre>
</div>
</div>
</body>
</html>
